@{
    ViewBag.Title = "Видалити замовлення";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Lab_6.Models.Purchases
<h2>Видалення замовлення</h2>
<dl>
    <dt><b>ПІП</b></dt>
    <dd>
        @Html.DisplayFor(model => model.Person)
    </dd>
    <dt><b>Дата замовлення</b></dt>
    <dd>
        @Html.DisplayFor(model => model.PurchaseDate)
    </dd>
    <dt><b>Код телефону</b></dt>
    <dd>
        @Html.DisplayFor(model => model.MobileId)
    </dd>
    <dt><b>Номер салону</b></dt>
    <dd>
        @Html.DisplayFor(model => model.ShopId)
    </dd>
</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="submit" value="Видалити" class="btn btn-default" /> | @Html.ActionLink("Back to List", "Index")
    </div>
}
