@model IEnumerable<Lab_6.Models.Purchases>
@{
    ViewBag.Title = "Мобільна техніка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Замовлення</h3>
    <td><p><a href="/Order/Create/">Додати замовлення</a></p></td>
    <table>
        <tr class="header">
            <td><p>Номер замовлення</p></td>
            <td><p>ПІП</p></td>
            <td><p>Дата замовлення</p></td>
            <td><p>Модель телефону</p></td>
            <td><p>Номер салону</p></td>
            <td></td>
        </tr>
        @foreach (Lab_6.Models.Purchases b in Model)
        {
            <tr>
                <td><p>@b.Id</p></td>
                <td><p>@b.Person</p></td>
                <td><p>@b.PurchaseDate</p></td>
                <td><p>@b.MobileId</p></td>
                <td><p>@b.ShopId</p></td>
                <td><p><a href="/Home/View/@b.Id">Перегляд</a></p></td>
                <td><p><a href="/Home/Edit/@b.Id">Редагувати</a></p></td>
                <td><p><a href="/Home/Delete/@b.Id">Видалити</a></p></td>
            </tr>
        }
    </table>
    <td><p><a href="/Mobile/Index/">Список телефонів</a></p></td>
    <td><p><a href="/Company/Index/">Список компаній</a></p></td>
</div>
