@model IEnumerable<Lab_6.Models.Companies>
    @{
        ViewBag.Title = "Мобільна техніка";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div>
        <h3>Компанії</h3>
        <td><p><a href="/Company/Create/">Додати компанію</a></p></td>
        <table>
            <tr class="header">
                <td><p>Номер п/п</p></td>
                <td><p>Назва</p></td>
                <td><p>Країна</p></td>
                <td><p>Рік заснування</p></td>
                <td><p>Головний директор</p></td>
                <td></td>
            </tr>
            @foreach (Lab_6.Models.Companies b in Model)
            {
                <tr>
                    <td><p>@b.Id</p></td>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Country</p></td>
                    <td><p>@b.Year</p></td>
                    <td><p>@b.CEO</p></td>
                    <td><p><a href="/Company/CompanyDetails/@b.Id">Детальніше</a></p></td>
                    <td><p><a href="/Company/Edit/@b.Id">Редагувати</a></p></td>
                    <td><p><a href="/Company/Delete/@b.Id">Видалити</a></p></td>
                </tr>
            }
        </table>
        <td><p><a href="/Order/Index/">Список замовлень</a></p></td>
        <td><p><a href="/Mobile/Index/">Список телефонів</a></p></td>
    </div>
