@model IEnumerable<Lab_6.Models.Mobiles>
@{
    ViewBag.Title = "Мобільна техніка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Мобільні телефони</h3>
    <td><p><a href="/Mobile/Create/">Додати телефон</a></p></td>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td><p><a href="/Mobile/View/@item.Id">Перегляд</a></p></td>
                <td><p><a href="/Mobile/Edit/@item.Id">Редагувати</a></p></td>
                <td><p><a href="/Mobile/Delete/@item.Id">Видалити</a></p></td>
            </tr>
        }
    </table>
    <td><p><a href="/Order/Index/">Список замовлень</a></p></td>
    <td><p><a href="/Company/Index/">Список компаній</a></p></td>
</div>
